# code coverage
.cover
coverage.html
coverage.out

# git repo
.git

# IDE customization
.idea
.vscode

# binaries
.bin

# env customization
.env

# claude settings
.claude

# temporary
**/.DS_Store
**/debug
**/debug.test

# ignore data file, downloaded during make
public/spot/data/*.json
public/spot/data/*.json-e
